<%- include('partials/header'); %>
<script>


function SaveItem() {
				
                var name = document.forms.ShoppingList.name.value;
                var data = document.forms.ShoppingList.data.value;
                localStorage.setItem(name, data);
                doShowAll();
                
            }
           
            function ModifyItem() {
                var name1 = document.forms.ShoppingList.name.value;
                var data1 = document.forms.ShoppingList.data.value;
               
                
            
                        if (localStorage.getItem(name1) !=null)
                        {
                         
                          localStorage.setItem(name1,data1);
                          document.forms.ShoppingList.data.value = localStorage.getItem(name1);
                        }
                    
                
                doShowAll();
            }
          
            function RemoveItem() {
                var name = document.forms.ShoppingList.name.value;
                document.forms.ShoppingList.data.value = localStorage.removeItem(name);
                doShowAll();
            }
           
            function ClearAll() {
                localStorage.clear();
                doShowAll();
            }
           
            function doShowAll() {
                if (CheckBrowser()) {
                    var key = "";
                    var list = "<tr><th>Review</th><th>Username</th></tr>\n";
                    var i = 0;
                   
                    for (i = 0; i <= localStorage.length-1; i++) {
                        key = localStorage.key(i);
                        list += "<tr><td>" + key + "</td>\n<td>"
                                + localStorage.getItem(key) + "</td></tr>\n";
                    }
                 
                    if (list == "<tr><th>Review</th><th>Username</th></tr>\n") {
                        list += "<tr><td><i>No Review Yet.</i></td>\n<td><i>No Review Yet.</i></td></tr>\n";
                    }
                 
                    document.getElementById('list').innerHTML = list;
                } else {
                    alert('Cannot save shopping list as your browser does not support HTML 5');
                }
            }
            
          
            function CheckBrowser() {
                if ('localStorage' in window && window['localStorage'] !== null) {
                   
                    return true;
                } else {
                        return false;
                }
            }
          






function addText() {
	var newParagraph = document.createElement('h4');
	newParagraph.textContent = textArea.value;
    document.getElementById("id1").insertBefore(newParagraph, textArea)
	
}

    function newPage(albumName, artistName, albumRating){
        document.getElementById("info").style.visibility = "hidden";
        document.getElementById("id1").style.visibility = "visible";
        document.getElementById("name").style.visibility = "visible";
        document.getElementById("password").style.visibility = "hidden";
    //var albumName = document.getElementById("myBtn").textContent;
   // var artistName = document.getElementById("tdid2").textContent;
   // var albumRating = document.getElementById("rates").textContent;
  document.getElementById("demo").innerHTML = "Album Name: " + albumName + "<br /> By: " + artistName;  
   
   if(albumRating === "5"){
    document.getElementById("review").innerHTML = albumName + " was an AMAZING album! Every song kept me ready to listen to more! " + artistName + " really gave it their all and I am ESTATIC to hear what " + artistName  + " comes out with next!"; 
   }

   else if(albumRating === "4"){
    document.getElementById("review").innerHTML = albumName + " was actually a pretty good album! The songs and lyrics were pretty good, and their were only a select few weak songs.  " + artistName + " really put their mark on the music industry with this album. With more room to grow, " + artistName + " has a bright future ahead for them!"; 
   }
   else if(albumRating === "3"){
    document.getElementById("review").innerHTML = albumName + " was OK... The songs and lyrics were decent on most of the songs, but you could tell  " + artistName + " really didn't give it their all. "+ albumName + " is a good album for a fan, but besides that, " + artistName + " needs to do a little better."; 
   }
   else if(albumRating === "2"){
    document.getElementById("review").innerHTML = albumName + " kinda stunk. The songs and lyrics were terrible, but there was only one or two songs that were decent.  " + artistName + " really didn't try, and I'm starting to question why they put out this album. Unless you are a die-hard " + artistName + " fan, don't listen to this album." ; 
   }
   else if(albumRating === "1"){
    document.getElementById("review").innerHTML = albumName + " was one of the worst albums my eardrums ever had the insatisfactory of listening to. The songs and lyrics were rubbish and pointless, and was a waste of my valuable time!  " + artistName + " really didn't care did they? Because if they did care, they wouldn't of put this trash for the entire world to hear! Fan of " + artistName + " or not, you will hate this album. I would understand if their parents would neglet " + artistName + " for the rest of their lives because I certainly would!"; 
   }

   else if(albumRating === "0"){
    document.getElementById("review").innerHTML = "Not Yet Rated."
   }
  
    }


    function visible(){
    document.getElementById("bye").style.visibility = "hidden";
    document.getElementById("hidden").style.visibility = "visible";
    document.getElementById("password").style.visibility = "hidden";
    document.getElementById("passstuff").style.visibility = "visible";
   document.getElementById("display").innerHTML = "";
}


function trying(albumName, artistName){
    open( 'https://www.google.com/search?q=' + albumName + " " + artistName + '&oq=google&aqs=chrome..69i57j69i59j0j69i65l2j69i60l3.887j0j7&sourceid=chrome&ie=UTF-8', function (err) {
  if ( err ) throw err;    
});
}


 cancel = myAlert;
function message() {
   
    if (document.getElementById("psw").value == "OwlCity") {
        cancel = null;
        document.getElementById("password").style.visibility = "visible";
        document.getElementById("passstuff").style.visibility = "hidden";
    document.getElementById("display").innerHTML = "Welcome Admin!";
   // document.getElementById("yes").onclick = true;
    //document.getElementById("yes2").onclick = true;
    document.getElementById("clear").disabled = false;
    var editButtons = document.getElementsByClassName("editButton");
       for (let index = 0; index < editButtons.length; index++) {
           const element = editButtons[index];
              element.onclick = true;
        element.style.backgroundColor = "green";
       }


       var deleteButtons = document.getElementsByClassName("deleteButton");
       for (let index = 0; index < deleteButtons.length; index++) {
           const element = deleteButtons[index];
              element.onclick = true;
        element.style.backgroundColor = "orange";
       }
       
     
    
    document.getElementById("yes2").style.backgroundColor = "orange";
    
    document.getElementById("yes").style.backgroundColor = "green";
    myAlert = undefined;
  } 
  else{ document.getElementById("display").innerHTML = "WRONG PASSWORD!!!"; 
  
  document.getElementById("password").style.visibility = "visible";
  document.getElementById("bye").style.visibility = "visible";
  document.getElementById("passstuff").style.visibility = "hidden";
}
}



</script>





   
<div id="hidden">
<h4 id="display"></h4>
<div id="passstuff">
<p>Admin Password:</p><input id="psw" type="password" name="password"/>
  <br>
  <br>
  <input type="button" value="Login" onclick="message();" style="color: tomato; background-color:teal" /></div>
  <br>
  </div>
<div id="password">
<h1>MOO-SICK RATER!!!</h1>
<img src="https://media.istockphoto.com/illustrations/strange-cow-illustration-id163856133?k=6&m=163856133&s=612x612&w=0&h=ZbKSmJ0WT_gpgSQ2VVk-mSt5-xorVVkSstfjRZ4goIA=" alt="">
<br>
<br>
<% if (players.length > 0){%>  
    <table class="table">
 <thead class="thead-dark" >
<tr>
    <th>Album Number</th>
    <th>Album Name</th>
    <th>Artist</th>
    <th>Genre</th>
    <th>Rating</th>
    <th>Edit</th>
    <th>Delete</th>
</tr>

 </thead>
<tbody>
    <% for(let i = 0; i < players.length; i++) { %>
    <tr>
       
        <td  style="color:aliceblue" ><a onclick="newPage('<%= players[i].first_name %>', '<%= players[i].last_name %>','<%= players[i].number %>')" id="cursor"> <%= players[i].id %> </a></td>
        <td id="tdid" > <a onclick="trying('<%= players[i].first_name %>', '<%= players[i].last_name %>')" id="myBtn"><%= players[i].first_name %> </a> </td>
        <td id="tdid2" > <%= players[i].last_name %> </td>
        <td style="color:aliceblue"> <%= players[i].position %> </td>
        <td style="color:aliceblue" id="rates"><%= players[i].number %></td>
        
        <td  style="color:aliceblue"> <div  ><a href="/edit/<%= players[i].id %>"class="btn btn-sm btn-success editButton"  onclick="return false" style="background-color:gray; color: white !important" >Edit</a></div></td>
        <td style="color:aliceblue"> <div   ><a href="/delete/<%= players[i].id %>" class="btn btn-sm btn-danger deleteButton" onclick="return false; "  style="background-color:gray; color: white !important">Delete</a></div></td>
        <% } %>
    </tr>
</tbody>

    </table>
    <% } else { %>
    <p class="text-center">No Albums Added Yet... How about you add one!!!</p>
    <% } %>
</div>
</div> 

</div>



<div id="reviewStuff">
    <p id="demo"></p>
    <div id="box">
    <p id="review"></p></div>
    <p id="name" >-TLH (Admin & Head Album Reviewer)</p>
    <br></div>
    <div id="id1">
            <form name=ShoppingList>
    
                    <div id="main">
                        <table class="user">
                            <tr>
            
                                <td><b>Review:</b><input type=text name=name></td>
                                <td><b>Username:</b><input type=text name=data></td>
                                
    
            
                            </tr>
            
                            <tr>
                                <td>
                                    <input type=button value="Add Review"   onclick="SaveItem()"> 
                                  
                                    <input type=button value="Delete Post" onclick="RemoveItem()">
                                    <input type="button" value="Clear All*" id="clear" onclick="ClearAll()" disabled >
                                   
                                    <h6>*Clear All is Admin Only</h6>
                                </td>
                            </tr>
                        </table>
                    </div>
            
                    <div id="items_table">
                        
                        <table id=list class="user"></table>
                    
                    </div>
                </form>
        </div>
<p id="info">Click the ID to look at the reviews of that album. Click the Album to resarch on your own more on that album.</p>
<p class="text-center">Only Admin can Delete and Edit Ratings</p>
</body>
</html>